*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image:linear-gradient(rgba(255, 255, 255, 0.395),rgba(255, 255, 255, 0.395)),
    url(./Images/Coffee\ espresso\ template1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(53, 24, 24);
}
.navbar{
    width: 80%;
    height: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.navbar ul{
    display: inline-flex;
    list-style: none;
    margin-top: 40px;
    margin-left: 80px;
}
.navbar ul li{
    width: 70px;
    padding: 6px;
    margin: 5px;
    background-color: wheat;
    text-align: center;
    border-radius: 10px;
}
.navbar ul li:hover{
    background: none;
    border: 2px solid rgb(97, 55, 55);
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(97, 55, 55);
    font-size: 18px;
}
.container-01{
    width: 100%;
    height: 500px;
    display:grid;
    grid-template-columns: 60% 40%;
    margin-top: 120px;
}
.sub-container-01{
    padding-left: 100px;
}
.sub-container-01 img{
    position: absolute;
    margin-left: -270px;
    margin-top: -60px;
    z-index: -1;
}
.sub-container-01 h1{
    font-size: 39px;
}
.sub-container-01 p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.sub-container-01 button{
    margin-left: 70px;
    margin-top: 15px;
    width: 90px;
    height: 40px;
    color: rgb(53, 24, 24);
    background: none;
    border: 2px solid rgb(53, 24, 24);
    border-radius: 7px;
    font-size: 17px;
}
.sub-container-01 button:hover{
    background-color: rgb(53, 24, 24);
    color: wheat;
}
.sub-container-02 img{
    width: 350px;
    height: 450px;
    margin-top: -100px;
}
#coffe-heading{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 80px;
}
.container-02{
    width: 70%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    /* padding-left: 90px; */
}
.container-02 img{
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: -40px;
    border-radius: 50%;
    margin-bottom: 50px;
}
.container-02 div{
    background-image:linear-gradient(rgba(51, 49, 49, 0.395),rgba(61, 59, 59, 0.395)),
    url(./Images/back4.jpg);
    background-size: cover;
    width: 190px;
    height: 200px;
    border-radius: 25px;
    margin: auto;
    box-shadow: 0px 0px 10px black;
    transition: 1.5s ease;
}
.container-02 div:hover{
    transform: scale(1.06);
}
.container-02 h3{
    color: wheat;   
}
.container-02 p{
    color: wheat;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-03{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 150px;
}
.picture-container{
    text-align: center;
}
.container-03 img{
    width: 300px;
    height: 350px;
}
.text-container{
    text-align: center;
}
.text-container p{
    margin-top: 100px;
    font-size: 20px;
    padding: 10px;
    margin-right: 20px;
}
@media (max-width: 665px) {
    .navbar{
        width: 92%;
    }
    .navbar ul{
        margin-left: 20px;
    }
    .navbar ul li{
        width: 40px;
        padding: 2px;
        border-radius: 3px;
    }
    .navbar ul li a{
        font-size: 10px;
    }
    .logo img{
        width: 50px;
        height: 50px;
        margin-top: 25px;
    }
}
@media (max-width: 850px) {
    .sub-container-01 h1{
        font-size: 25px;
    }
    .sub-container-01 p{
        font-size: 13px;
    }
    .sub-container-01 button{
        width: 80px;
        font-size: 15px;
        height: 30px;
        margin-left: 40px;
    }
    .sub-container-01{
        padding-left: 50px;
    }
    .sub-container-01 img{
        width: 350px;
        height: 200px;
        margin-top: -30px;
        margin-left: -200px;
    }
    .sub-container-02 img{
        width: 230px;
        height: 330px;
    }
}
@media (max-width: 550px) {
    .sub-container-01 img{
        width: 240px;
        height: 140px;
        margin-top: -2px;
        margin-left: -170px;
    }
    .sub-container-02 img{
        width: 190px;
        height: 290px;
        margin-top: -70px;
    }
}
@media (max-width: 450px) {
    .sub-container-01 h1{
        font-size: 20px;
    }
    .sub-container-01 p{
        font-size: 10px;
    }
    .sub-container-01 button{
        width: 60px;
        font-size: 10px;
        height: 20px;
        margin-left: 20px;
    }
    .sub-container-01{
        padding-left: 20px;
    }
    .sub-container-01 img{
        width: 170px;
        height: 80px;
        margin-top: 2px;
        margin-left: -100px;
    }
    .sub-container-02 img{
        width: 110px;
        height: 200px;
        margin-top: -50px;
    }
}
@media(max-width: 990px){
    .container-02{
        width: 85%;
    }
}
@media(max-width: 850px){
    .container-02{
        grid-template-columns: repeat(2, 1fr);
    }
    .container-03{
        grid-template-columns: repeat(1, 1fr);
    }
    .text-container p{
        margin-right: 0px;
        font-size: 16px;
    }
    .picture-container img{
        width: 250px;
        height: 300px;
    }
}
@media(max-width: 550px){
    .container-02{
        grid-template-columns: repeat(1, 1fr);
    }
    #coffe-heading{
        margin-top: -180px;
        font-size: 25px;
    }
}
