*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image:linear-gradient(rgba(255, 255, 255, 0.395),rgba(255, 255, 255, 0.395)),
    url(./Images/Coffee\ espresso\ template1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(53, 24, 24);
}
.navbar{
    width: 80%;
    height: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.navbar ul{
    display: inline-flex;
    list-style: none;
    margin-top: 40px;
    margin-left: 80px;
}
.navbar ul li{
    width: 70px;
    padding: 6px;
    margin: 5px;
    background-color: wheat;
    text-align: center;
    border-radius: 10px;
}
.navbar ul li:hover{
    background: none;
    border: 2px solid rgb(97, 55, 55);
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(97, 55, 55);
    font-size: 18px;
}
.container-01{
    width: 100%;
    height: 500px;
    display:grid;
    grid-template-columns: 60% 40%;
    margin-top: 120px;
}
.sub-container-01{
    padding-left: 100px;
}
.sub-container-01 img{
    position: absolute;
    margin-left: -270px;
    margin-top: -60px;
    z-index: -1;
}
.sub-container-01 h1{
    font-size: 39px;
}
.sub-container-01 p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.sub-container-01 button{
    margin-left: 70px;
    margin-top: 15px;
    width: 90px;
    height: 40px;
    color: rgb(53, 24, 24);
    background: none;
    border: 2px solid rgb(53, 24, 24);
    border-radius: 7px;
    font-size: 17px;
}
.sub-container-01 button:hover{
    background-color: rgb(53, 24, 24);
    color: wheat;
}
.sub-container-02 img{
    width: 350px;
    height: 450px;
    margin-top: -100px;
}
#coffe-heading{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 80px;
}
.container-02{
    width: 70%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    /* padding-left: 90px; */
}
.container-02 img{
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: -40px;
    border-radius: 50%;
    margin-bottom: 50px;
}
.container-02 div{
    background-image:linear-gradient(rgba(51, 49, 49, 0.395),rgba(61, 59, 59, 0.395)),
    url(./Images/back4.jpg);
    background-size: cover;
    width: 190px;
    height: 200px;
    border-radius: 25px;
    margin: auto;
    box-shadow: 0px 0px 10px black;
}
.container-02 h3{
    color: wheat;   
}
.container-02 p{
    color: wheat;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}